{{> header}}

<div class="spacer-100"></div>

<div class="row bg-img fixed-bg"></div>
<div class="signin-container">
  <!-- <h1>Employee Sign In</h1> -->
  {{#if hasErrors }}
    <div class="alert alert-danger">
      {{# each messages }}
          <p>{{this}}</p>
      {{/each}}
    </div>
  {{/if}}
  <div class="box-shadow">
    <form action="/user/signin" method="post" class="signin-form">
      <input type="text" id="email" name="email" class="form-in" placeholder="E-mail">
      <input type="password" id="password" name="password" class="form-in" placeholder="Password">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <button type="submit" class="sky-blue-bg submit-btn">Sign In</button>
    </form>
  </div>
</div>
