/* GENERAL */
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
/*.padding-30 {
  padding: 30px;
}*/
.sky-blue {
  color: rgb(0,115,197);
}
.sky-blue-bg {
  background-color: rgb(0,115,197);
}
/* PRODUCTS */
.thumbnail-grp-container {
  padding: 20px;
}
.thumbnail-container {
  padding: 20px;
}
.product-thumbnail {
  position: relative;
  top: -180px;
  border: 5px solid rgba(255,255,255,0.3);
  box-shadow: 0px 0px 20px -2px rgba(50,50,50,.25);
}
.product-thumbnail-img {
  width: 100%;
  height: auto;
  display: block;
  vertical-align:text-bottom;
}
.product-thumbnail-info {
  padding: 10px;
  margin: 0;
  background: linear-gradient(rgb(245,245,245),white); /* Standard syntax */
}
.product-thumbnail-info h3 {
  margin: 0;
}
/* NAVBAR */
.navbar {
  height: 80px;
  padding: 10px 15px;
}
#navbar-logo {
  height: 82px;
}
.navbar-icon {
  margin: 15px;
}
/* DROPDOWNS */
.navbar-icon {
  position: relative;
  top: 12px;
  cursor: pointer;
}
.navbar-icon a:hover {
  text-decoration: none;
}
.dropdown-menu li a:hover {
  background-color: white;
  color: rgb(0,115,197);
}
.dropdown-menu li a{
  padding: 10px;
}
.float-right {
  position: relative;
  float: right;
}
/* SEARCH BOX */
.search-box {
  position: relative;
  /*top: 60px;*/
  width: 300px;
  margin: auto;
  /*border: 1px solid red;*/
}
.search-box input {
  display: inline-block;
  height: 45px;
  width: 255px;
  border: 0;
  margin: 0;
  padding: 0 20px;
}
.search-box input:focus, .search-box button:focus {
  outline: none;
}
.search-box button {
  display: inline-block;
  border: 1px solid rgb(0,115,197);
  margin: 0;
  height: 45px;
  width: 45px;
  color: white;
}
/* HERO BG */
#index-hero {
  height: 500px;
  padding: 100px 0;
  background: url(/images/Sky-hero-cycling@2x.jpg) no-repeat center top;
  background-size: cover;
}
/* MAIN BG */
.radial-bg {
  background: radial-gradient(white, rgb(220,220,220)); /* Standard syntax */
}
/* ALERTS */
.alert-img-overlay {
  color: white;
  text-align: center;
  padding: 35px;
  font-size: 4rem;
}
/* RESPONSIVE */
.custom-row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="custom-col-"] {
    width: 100%;
    float: left;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .custom-col-m-1 {width: 8.33%;}
    .custom-col-m-2 {width: 16.66%;}
    .custom-col-m-3 {width: 25%;}
    .custom-col-m-4 {width: 33.33%;}
    .custom-col-m-5 {width: 41.66%;}
    .custom-col-m-6 {width: 50%;}
    .custom-col-m-7 {width: 58.33%;}
    .custom-col-m-8 {width: 66.66%;}
    .custom-col-m-9 {width: 75%;}
    .custom-col-m-10 {width: 83.33%;}
    .custom-col-m-11 {width: 91.66%;}
    .custom-col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .custom-col-d-1 {width: 8.33%;}
    .custom-col-d-2 {width: 16.66%;}
    .custom-col-d-3 {width: 25%;}
    .custom-col-d-4 {width: 33.33%;}
    .custom-col-d-5 {width: 41.66%;}
    .custom-col-d-6 {width: 50%;}
    .custom-col-d-7 {width: 58.33%;}
    .custom-col-d-8 {width: 66.66%;}
    .custom-col-d-9 {width: 75%;}
    .custom-col-d-10 {width: 83.33%;}
    .custom-col-d-11 {width: 91.66%;}
    .custom-col-d-12 {width: 100%;}
}
