<div class="form-caption">
<div class="signin-container">
    {{#if hasErrors }}
      <div class="alert alert-danger">
        {{# each messages }}
            <p>{{this}}</p>
        {{/each}}
      </div>
    {{/if}}
    <div class="box-shadow">
    <form action="/user/signin" method="post" class="signin-form">
      <legend>Sign In</legend>
        <input type="text" id="email" name="email" class="form-in" placeholder="E-mail">
        <input type="password" id="password" name="password" class="form-in" placeholder="Password">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button type="submit" class="sky-blue-bg submit-btn">Sign In</button>
    </form>
  </div>
</div>
<br>
<p align="center">Don't have an account? <a href="/user/signup">Sign up instead!</a></p>
</div>
