<div class="customer-forms-container">
  {{#if hasErrors }}
    <div class="alert alert-danger">
      {{# each messages }}
          <p>{{this}}</p>
      {{/each}}
    </div>
  {{/if}}
    <div class="box-shadow">
      <form action="/user/signup" method="post" class="customer-forms">
        <legend><h3>Sign Up</h3></legend>
          <!-- <label for="firstname">First name</label> -->
          <input type="text" id="firstname" name="firstname" class="form-in" placeholder="First name">
          <!-- <label for="lastname">Last name</label> -->
          <input type="text" id="lastname" name="lastname" class="form-in" placeholder="Last name">
          <!-- <label for="firstlineofaddress">First line of address</label> -->
          <input type="text" id="firstlineofaddress" name="firstlineofaddress" class="form-in" placeholder="First line of address">
          <!-- <label for="town">Town</label> -->
          <input type="text" id="town" name="town" class="form-in" placeholder="Town">
          <!-- <label for="postcode">Postcode</label> -->
          <input type="text" id="postcode" name="postcode" class="form-in" placeholder="Postcode">
          <!-- <label for="contactnumber">Contact number</label> -->
          <input type="text" id="contactnumber" name="contactnumber" class="form-in" placeholder="Contact Number">
          <!-- <label for="email">E-mail</label> -->
          <input type="text" id="email" name="email" class="form-in" placeholder="E-mail">
          <!-- <label for="password">Password</label> -->
          <input type="password" id="password" name="password" class="form-in" placeholder="Password">
          <input type="text" id="accounttype" name="accounttype" class="form-in">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button type="submit" class="sky-blue-bg submit-btn">Sign Up</button>
      </form>
    </div>
  </div>
<div class="spacer-100">
